<div class="chat-container">
    <div class="page-title mb-32">
        <h1 class="font-size-20 line-height-20 font-weight-400 mb-4">Chap App</h1>
        <div class="breadcrumb">
            <ul>
                <li><a class="secondary-text" href="">Home</a></li>
                <li><a class="active" href="">Chat</a></li>
            </ul>
        </div>
    </div>

    <div fxLayout="row">
        <div fxHide fxShow.gt-sm class="chat-left-aside bg-accent-A100">
            <div class="search-contact pl-16 pr-16">
                <mat-form-field class="w-100-p" floatLabel="never">
                    <input matInput placeholder="Search Contact">
                </mat-form-field>
            </div>
            <div class="contact-list" #contactList>
                <ul>
                    <li>
                        <div fxLayout="row" fxLayoutAlign="space-between start">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <div class="user-image mr-16">
                                    <img src="../../../../assets/images/profile.jpg" alt="user">
                                </div>
                                <div>
                                    <p class="text-color font-size-18 line-height-18 muli-light">James Anderson</p>
                                    <p class="hint-text font-size-14 muli-light">Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <span>4:50 pm</span>
                        </div>
                    </li>
                    <li>
                        <div fxLayout="row" fxLayoutAlign="space-between start">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <div class="user-image mr-16">
                                    <img src="../../../../assets/images/profile.jpg" alt="user">
                                </div>
                                <div>
                                    <p class="text-color font-size-18 line-height-18 muli-light">James Anderson</p>
                                    <p class="hint-text font-size-14 muli-light">Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <span>4:50 pm</span>
                        </div>
                    </li>
                    <li>
                        <div fxLayout="row" fxLayoutAlign="space-between start">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <div class="user-image mr-16">
                                    <img src="../../../../assets/images/profile.jpg" alt="user">
                                </div>
                                <div>
                                    <p class="text-color font-size-18 line-height-18 muli-light">James Anderson</p>
                                    <p class="hint-text font-size-14 muli-light">Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <span>4:50 pm</span>
                        </div>
                    </li>
                    <li>
                        <div fxLayout="row" fxLayoutAlign="space-between start">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <div class="user-image mr-16">
                                    <img src="../../../../assets/images/profile.jpg" alt="user">
                                </div>
                                <div>
                                    <p class="text-color font-size-18 line-height-18 muli-light">James Anderson</p>
                                    <p class="hint-text font-size-14 muli-light">Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <span>4:50 pm</span>
                        </div>
                    </li>
                    <li>
                        <div fxLayout="row" fxLayoutAlign="space-between start">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <div class="user-image mr-16">
                                    <img src="../../../../assets/images/profile.jpg" alt="user">
                                </div>
                                <div>
                                    <p class="text-color font-size-18 line-height-18 muli-light">James Anderson</p>
                                    <p class="hint-text font-size-14 muli-light">Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <span>4:50 pm</span>
                        </div>
                    </li>
                    <li>
                        <div fxLayout="row" fxLayoutAlign="space-between start">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <div class="user-image mr-16">
                                    <img src="../../../../assets/images/profile.jpg" alt="user">
                                </div>
                                <div>
                                    <p class="text-color font-size-18 line-height-18 muli-light">James Anderson</p>
                                    <p class="hint-text font-size-14 muli-light">Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <span>4:50 pm</span>
                        </div>
                    </li>
                    <li>
                        <div fxLayout="row" fxLayoutAlign="space-between start">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <div class="user-image mr-16">
                                    <img src="../../../../assets/images/profile.jpg" alt="user">
                                </div>
                                <div>
                                    <p class="text-color font-size-18 line-height-18 muli-light">James Anderson</p>
                                    <p class="hint-text font-size-14 muli-light">Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <span>4:50 pm</span>
                        </div>
                    </li>
                    <li>
                        <div fxLayout="row" fxLayoutAlign="space-between start">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <div class="user-image mr-16">
                                    <img src="../../../../assets/images/profile.jpg" alt="user">
                                </div>
                                <div>
                                    <p class="text-color font-size-18 line-height-18 muli-light">James Anderson</p>
                                    <p class="hint-text font-size-14 muli-light">Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <span>4:50 pm</span>
                        </div>
                    </li>
                    <li>
                        <div fxLayout="row" fxLayoutAlign="space-between start">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <div class="user-image mr-16">
                                    <img src="../../../../assets/images/profile.jpg" alt="user">
                                </div>
                                <div>
                                    <p class="text-color font-size-18 line-height-18 muli-light">James Anderson</p>
                                    <p class="hint-text font-size-14 muli-light">Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <span>4:50 pm</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="chat-right-aside">
            <div class="chat-container bg-accent-A100">
                <div class="chat-box-header">
                    <h2 class="muli-semibold font-size-20 text-color pl-24">Chat Message</h2>
                </div>
                <div class="chat-box-content" #chatContent>
                    <ul class="chat-list">
                        <li>
                            <div class="chat-img">
                                <img src="../../../../assets/images/profile.jpg" alt="user">
                            </div>
                            <div class="chat-content">
                                <p class="hint-text font-size-18 line-height-18 mb-8 muli-light">James Anderson</p>
                                <div class="bg-primary-100 chat-box">
                                    <p class="text-color muli-light">Lorem, ipsum dolor sit amet consectetur
                                        adipisicing elit. Delectus, rerum.</p>
                                </div>
                            </div>
                            <div class="chat-time">
                                <span>10:58 am</span>
                            </div>
                        </li>
                        <li>
                            <div class="chat-img">
                                <img src="../../../../assets/images/profile.jpg" alt="user">
                            </div>
                            <div class="chat-content">
                                <p class="hint-text font-size-18 line-height-18 mb-8 muli-light">Bianca Doe</p>
                                <div class="bg-primary-100 chat-box">
                                    <p class="text-color muli-light">It’s Great opportunity to work.</p>
                                </div>
                            </div>
                            <div class="chat-time">
                                <span>10:58 am</span>
                            </div>
                        </li>
                        <li class="odd">
                            <div class="chat-content">
                                <p class="hint-text font-size-18 line-height-18 mb-8 muli-light">Bianca Doe</p>
                                <div class="bg-accent-300 chat-box">
                                    <p class="text-color muli-light">It’s Great opportunity to work.</p>
                                </div>
                            </div>
                            <div class="chat-time">
                                <span class="muli-light">10:58 am</span>
                            </div>
                        </li>
                        <li class="odd">
                            <div class="chat-content">
                                <p class="hint-text font-size-18 line-height-18 mb-8 muli-light">Bianca Doe</p>
                                <div class="bg-accent-300 chat-box">
                                    <p class="text-color muli-light">It’s Great opportunity to work.</p>
                                </div>
                            </div>
                            <div class="chat-time">
                                <span>10:58 am</span>
                            </div>
                        </li>
                        <li class="odd">
                            <div class="chat-content">
                                <p class="hint-text font-size-18 line-height-18 mb-8 muli-light">Bianca Doe</p>
                                <div class="bg-accent-300 chat-box">
                                    <p class="text-color muli-light">It’s Great opportunity to work.</p>
                                </div>
                            </div>
                            <div class="chat-time">
                                <span>10:58 am</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card bg-accent-A100 chat-form">
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="32px">
                    <div fxFlex="80%">
                        <mat-form-field class="w-100-p" floatLabel="never" appearance="outline">
                            <input matInput placeholder="Type your message here">
                        </mat-form-field>
                    </div>
                    <div fxFlex="20%" class="text-right">
                        <button class="send-btn" mat-fab color="primary" aria-label="Send">
                            <mat-icon>send</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>