<p class="font-size-16 p-0 m-0 pl-16 mb-16 secondary-text">Custom and material Button design</p>
<div class="mb-32">
  <div fxFlex="100%">
    <mat-card class="card">
      <div class="mb-32">
        <p class="font-size-14 p-0 m-0 mb-16 secondary-text font-weight-600">Custom background animation button design</p>
        <div class="button-list">
          <ul>
            <li><a class="animated-btn" href="#">Button</a></li>
            <li><a class="animated-btn animated-btn-one" href="#">Button 1</a></li>
            <li><a class="animated-btn animated-btn-two" href="#">Button 2</a></li>
            <li><a class="animated-btn animated-btn-three" href="#">Button 3</a></li>
            <li><a class="animated-btn animated-btn-four" href="#">Button 4</a></li>
            <li><a class="animated-btn animated-btn-five" href="#">Button 5</a></li>
            <li><a class="animated-btn animated-btn-six" href="#">Button 6</a></li>
            <li><a class="animated-btn animated-btn-seven" href="#">Button 7</a></li>
            <li><a class="animated-btn animated-btn-eight" href="#">Button 8</a></li>
            <li><a class="animated-btn animated-btn-nine" href="#">Button 9</a></li>
          </ul>
        </div>
      </div>

      <div class="mb-32">
        <p class="font-size-14 p-0 m-0 mb-16 secondary-text font-weight-600">Material Design Buttons</p>

        <div class="button-row mb-24">
          <button mat-button>Basic</button>
          <button mat-button color="primary">Primary</button>
          <button mat-button color="accent">Accent</button>
          <button mat-button color="warn">Warn</button>
          <button mat-button disabled>Disabled</button>
          <a mat-button routerLink=".">Link</a>
        </div>
        <div class="button-row mb-24">
          <button mat-raised-button>Basic</button>
          <button mat-raised-button color="primary">Primary</button>
          <button mat-raised-button color="accent">Accent</button>
          <button mat-raised-button color="warn">Warn</button>
          <button mat-raised-button disabled>Disabled</button>
          <a mat-raised-button routerLink=".">Link</a>
        </div>

        <div class="button-row mb-24">
          <button mat-stroked-button>Basic</button>
          <button mat-stroked-button color="primary">Primary</button>
          <button mat-stroked-button color="accent">Accent</button>
          <button mat-stroked-button color="warn">Warn</button>
          <button mat-stroked-button disabled>Disabled</button>
          <a mat-stroked-button routerLink=".">Link</a>
        </div>

        <div class="button-row mb-24">
          <button mat-flat-button>Basic</button>
          <button mat-flat-button color="primary">Primary</button>
          <button mat-flat-button color="accent">Accent</button>
          <button mat-flat-button color="warn">Warn</button>
          <button mat-flat-button disabled>Disabled</button>
          <a mat-flat-button routerLink=".">Link</a>
        </div>

        <div class="button-row mb-24">
          <button mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
          </button>
          <button mat-icon-button color="primary">
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
          </button>
          <button mat-icon-button color="accent">
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
          </button>
          <button mat-icon-button disabled>
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
          </button>
        </div>

        <div class="button-row mb-24">
          <button mat-fab>Basic</button>
          <button mat-fab color="primary">Primary</button>
          <button mat-fab color="accent">Accent</button>
          <button mat-fab color="warn">Warn</button>
          <button mat-fab disabled>Disabled</button>
          <button mat-fab>
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
          </button>
          <a mat-fab routerLink=".">Link</a>
        </div>

        <div class="button-row">
          <button mat-mini-fab>Basic</button>
          <button mat-mini-fab color="primary">Primary</button>
          <button mat-mini-fab color="accent">Accent</button>
          <button mat-mini-fab color="warn">Warn</button>
          <button mat-mini-fab disabled>Disabled</button>
          <button mat-mini-fab>
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
          </button>
          <a mat-mini-fab routerLink=".">Link</a>
        </div>
      </div>
      <div class="mb-32">
        <div class="mb-16">
          <p class="font-size-14 p-0 m-0 mb-16 secondary-text font-weight-600">Delete Button Desing</p>
          <button mat-button mat-raised-button color="warn">
            <mat-icon class="mr-8">delete_sweep</mat-icon> Delete
          </button>
          <button mat-icon-button class="danger-text">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="mb-16">
          <p class="font-size-14 p-0 m-0 mb-16 secondary-text font-weight-600">Success Button Desing</p>
          <button mat-button mat-raised-button class="bg-green-600">
            <mat-icon>check</mat-icon> Success
          </button>
          <button mat-icon-button class="success-text">
            <mat-icon>check</mat-icon>
          </button>
        </div>

        <div class="mb-16">
          <p class="font-size-14 p-0 m-0 mb-16 secondary-text font-weight-600">Block Button Desing</p>

          <div class="block-btn-wrapper">
            <button class="w-100-p mb-16 display-block" mat-button mat-raised-button color="primary">Block Button</button>
            <button class="w-100-p mb-16 display-block" mat-button mat-raised-button color="warn">Block Button</button>
          </div>
        </div>
        <div class="mb-16">
          <p class="font-size-14 p-0 m-0 mb-16 secondary-text font-weight-600">Custom Button Design</p>
          <div fxLayout="row wrap" fxLayoutGap="16px" class="mb-32">
            <a class="icon-btn">
              <mat-icon>check</mat-icon>
            </a>
            <a class="icon-btn primary-bg">
              <mat-icon>check</mat-icon>
            </a>
            <a class="icon-btn success-bg">
              <mat-icon>check</mat-icon>
            </a>
            <a class="icon-btn dark-bg">
              <mat-icon>check</mat-icon>
            </a>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="16px" class="mb-32">
            <a class="icon-btn ib-s-2">
              <mat-icon>check</mat-icon>
            </a>
            <a class="icon-btn ib-s-2 grey-bg">
              <mat-icon>check</mat-icon>
            </a>
            <a class="icon-btn ib-s-2 info-bg">
              <mat-icon>check</mat-icon>
            </a>
            <a class="icon-btn ib-s-2 danger-bg">
              <mat-icon>check</mat-icon>
            </a>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="16px">
            <a class="icon-btn ib-s-3">
              <mat-icon>check</mat-icon>
            </a>
            <a class="icon-btn ib-s-3 bg-lime-600">
              <mat-icon>check</mat-icon>
            </a>
            <a class="icon-btn ib-s-3 bg-orange-600">
              <mat-icon>check</mat-icon>
            </a>
            <a class="icon-btn ib-s-3 bg-cyan-600">
              <mat-icon>check</mat-icon>
            </a>
          </div>
        </div>

      </div>
    </mat-card>
  </div>
</div>
