<div class="login-page-2-area h-100-p" fxLayoutAlign.gt-sm="center center" ngClass.gt-sm="p-100" ngClass.sm="p-32"
    ngClass.xs="p-32">
    <div class="shadow-card mb-32" fxLayout.gt-sm="row" fxLayout="column">
        <div fxFlex.gt-sm="55%" fxFlex class="login-image-card">
            <div class="p-32 h-100-p" fxLayout="column" fxLayoutAlign="center start">
                <p class="muli-semibold font-size-20 mb-24"> Hey <br>Glad to see you </p>
                <p class="muli-light"> to keep connected with us please login with your personal info</p>
            </div>
        </div>
        <div fxFlex.gt-sm="45%" fxFlex class="bg-accent-A100">
            <div class="p-32 pb-50">
                <p class="font-size-20 text-color line-height-30 mb-40">Welcome Back, <br>Please login to
                    your
                    account
                </p>
                <div>
                    <form>

                        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="8px" class="mb-32">
                            <div fxFlex.gt-sm="50%" fxFlex>
                                <button mat-flat-button class="google-btn w-100-p">Google</button>
                            </div>
                            <div fxFlex.gt-sm="50%" fxFlex>
                                <button mat-flat-button class="facebook-btn w-100-p">Facebook</button>
                            </div>
                        </div>

                        <div class="or-text text-center">
                            <p class="font-size-12 mb-32 hint-text">OR</p>
                        </div>

                        <mat-form-field class="w-100-p">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" value="imrulislam55@gmail.com">
                        </mat-form-field>

                        <mat-form-field class="w-100-p">
                            <mat-label>Passowrd</mat-label>
                            <input matInput placeholder="Passowrd" type="password">
                        </mat-form-field>

                        <div class="mb-32" fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-checkbox class="font-size-12" color="primary">Remember me</mat-checkbox>
                            <a href="" class="text-success font-size-12">Forget Passowrd</a>
                        </div>

                        <div class="text-center">
                            <button mat-raised-button class="mb-32 login-btn" color="primary">Login</button>
                        </div>

                        <div class="text-center">
                            <p class="text-color">Don't have an account?<a href="" class="text-success ml-12 font-size-12 muli-semibold">Sign Up</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>