<p class="font-size-16 p-0 m-0 pl-16 mb-16 secondary-text">Expantion Panel design</p>
<div class="mb-32">
  <div fxFlex="100%">
    <mat-card class="card hover-element-wrapper">
      <p class="font-size-14 p-0 m-0 pl-16 mb-24 secondary-text font-weight-700">Expantion Panel</p>

      <div class="mb-32">
        <div class="m-16">
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Personal data
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p class="p-0 m-0 font-size-16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore,
                    architecto?</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Self aware panel
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p class="p-0 m-0 font-size-16">I'm visible because I am open</p>
                </mat-expansion-panel>
              </mat-accordion>
        </div>
      </div>
      <p class="font-size-14 p-0 m-0 pl-16 mb-24 secondary-text font-weight-700">Expantion Panel (Custom Header Height)</p>
      <div class="mb-32">
          <div class="m-16">
              <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'100px'">
                      <mat-panel-title>
                        Personal data
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="p-0 m-0 font-size-16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore,
                      architecto?</p>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'100px'">
                      <mat-panel-title>
                        Self aware panel
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="p-0 m-0 font-size-16">I'm visible because I am open</p>
                  </mat-expansion-panel>
                </mat-accordion>
          </div>
        </div>
    </mat-card>
  </div>
</div>
