$color_1: white;
$background_color_1: #f2f2f2;
$background_color_2: #ddd;
$background_color_3: #3f51b5;

.simple-table {
  border-collapse: collapse;
  width: 100%;

  td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 15px;
  }

  th {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    background-color: $background_color_3;
    color: $color_1;
  }

  tr {
    &:nth-child(even) {
      background-color: $background_color_1;
    }

    &:hover {
      background-color: $background_color_2;
    }
  }
}
