<div class="contact-grid">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-32">
        <div class="page-title">
            <h1 class="font-size-20 line-height-20 font-weight-400 mb-4">Contact Grid</h1>
            <div class="breadcrumb">
                <ul>
                    <li><a class="secondary-text" href="">Home</a></li>
                    <li><a class="active" href="">Contact-grid</a></li>
                </ul>
            </div>
        </div>
        <div>
            <button mat-raised-button color="primary">Add Contact</button>
        </div>
    </div>

    <div class="contact-grid-list" fxLayout.gt-sm="row wrap" fxLayout="column">
        <div fxFlex.gt-sm="25%" fxFlex.md="50%" fxFlex>
            <div class="single-contact card pt-40 pb-40 bg-accent-A100 text-center">
                <div class="contact-action">
                    <button mat-icon-button aria-label="Contact Action" [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>Action One</button>
                        <button mat-menu-item>Action Two</button>
                    </mat-menu>
                </div>
                <div class="contact-image mb-32">
                    <img src="../../../../assets/images/Velazquez.jpg" alt="">
                </div>
                <div class="mb-60">
                    <p class="muli-semibold text-color font-size-18 line-height-18 mb-8">Jhon Deo</p>
                    <p class="muli-light font-size-14 hint-text line-height-14 mb-4">Developer</p>
                    <p class="muli-light font-size-14 hint-text line-height-14">johndeo@abc.com</p>
                </div>
                <div class="social-link">
                    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
                        <button class="facebook" mat-icon-button color="primary" aria-label="Google">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </button>
                        <button class="google" mat-icon-button color="primary" aria-label="Facebook">
                            <i class="fa fa-google" aria-hidden="true"></i>
                        </button>
                        <button class="linkedin" mat-icon-button color="primary" aria-label="LinkedIn">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex.gt-sm="25%" fxFlex.md="50%" fxFlex>
            <div class="single-contact card pt-40 pb-40 bg-accent-A100 text-center">
                <div class="contact-action">
                    <button mat-icon-button aria-label="Contact Action" [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>Action One</button>
                        <button mat-menu-item>Action Two</button>
                    </mat-menu>
                </div>
                <div class="contact-image mb-32">
                    <img src="../../../../assets/images/Velazquez.jpg" alt="">
                </div>
                <div class="mb-60">
                    <p class="muli-semibold text-color font-size-18 line-height-18 mb-8">Jhon Deo</p>
                    <p class="muli-light font-size-14 hint-text line-height-14 mb-4">Developer</p>
                    <p class="muli-light font-size-14 hint-text line-height-14">johndeo@abc.com</p>
                </div>
                <div class="social-link">
                    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
                        <button class="facebook" mat-icon-button color="primary" aria-label="Google">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </button>
                        <button class="google" mat-icon-button color="primary" aria-label="Facebook">
                            <i class="fa fa-google" aria-hidden="true"></i>
                        </button>
                        <button class="linkedin" mat-icon-button color="primary" aria-label="LinkedIn">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex.gt-sm="25%" fxFlex.md="50%" fxFlex>
            <div class="single-contact card pt-40 pb-40 bg-accent-A100 text-center">
                <div class="contact-action">
                    <button mat-icon-button aria-label="Contact Action" [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>Action One</button>
                        <button mat-menu-item>Action Two</button>
                    </mat-menu>
                </div>
                <div class="contact-image mb-32">
                    <img src="../../../../assets/images/Velazquez.jpg" alt="">
                </div>
                <div class="mb-60">
                    <p class="muli-semibold text-color font-size-18 line-height-18 mb-8">Jhon Deo</p>
                    <p class="muli-light font-size-14 hint-text line-height-14 mb-4">Developer</p>
                    <p class="muli-light font-size-14 hint-text line-height-14">johndeo@abc.com</p>
                </div>
                <div class="social-link">
                    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
                        <button class="facebook" mat-icon-button color="primary" aria-label="Google">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </button>
                        <button class="google" mat-icon-button color="primary" aria-label="Facebook">
                            <i class="fa fa-google" aria-hidden="true"></i>
                        </button>
                        <button class="linkedin" mat-icon-button color="primary" aria-label="LinkedIn">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex.gt-sm="25%" fxFlex.md="50%" fxFlex>
            <div class="single-contact card pt-40 pb-40 bg-accent-A100 text-center">
                <div class="contact-action">
                    <button mat-icon-button aria-label="Contact Action" [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>Action One</button>
                        <button mat-menu-item>Action Two</button>
                    </mat-menu>
                </div>
                <div class="contact-image mb-32">
                    <img src="../../../../assets/images/Velazquez.jpg" alt="">
                </div>
                <div class="mb-60">
                    <p class="muli-semibold text-color font-size-18 line-height-18 mb-8">Jhon Deo</p>
                    <p class="muli-light font-size-14 hint-text line-height-14 mb-4">Developer</p>
                    <p class="muli-light font-size-14 hint-text line-height-14">johndeo@abc.com</p>
                </div>
                <div class="social-link">
                    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
                        <button class="facebook" mat-icon-button color="primary" aria-label="Google">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </button>
                        <button class="google" mat-icon-button color="primary" aria-label="Facebook">
                            <i class="fa fa-google" aria-hidden="true"></i>
                        </button>
                        <button class="linkedin" mat-icon-button color="primary" aria-label="LinkedIn">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex.gt-sm="25%" fxFlex.md="50%" fxFlex>
            <div class="single-contact card pt-40 pb-40 bg-accent-A100 text-center">
                <div class="contact-action">
                    <button mat-icon-button aria-label="Contact Action" [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>Action One</button>
                        <button mat-menu-item>Action Two</button>
                    </mat-menu>
                </div>
                <div class="contact-image mb-32">
                    <img src="../../../../assets/images/Velazquez.jpg" alt="">
                </div>
                <div class="mb-60">
                    <p class="muli-semibold text-color font-size-18 line-height-18 mb-8">Jhon Deo</p>
                    <p class="muli-light font-size-14 hint-text line-height-14 mb-4">Developer</p>
                    <p class="muli-light font-size-14 hint-text line-height-14">johndeo@abc.com</p>
                </div>
                <div class="social-link">
                    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
                        <button class="facebook" mat-icon-button color="primary" aria-label="Google">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </button>
                        <button class="google" mat-icon-button color="primary" aria-label="Facebook">
                            <i class="fa fa-google" aria-hidden="true"></i>
                        </button>
                        <button class="linkedin" mat-icon-button color="primary" aria-label="LinkedIn">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>