<div>
    <p class="font-size-16 p-0 m-0 pl-16 mb-16 secondary-text ">Card Design with favorite icon</p>
    <div fxLayout.gt-sm="row wrap" fxLayout.sm="row wrap" fxLayout="column" class="mb-32">
      <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="25%" *ngFor="let user of users">
        <mat-card class="single-user card">
          <mat-card-content>
            <h2 class="p-0 m-0 font-size-14 mb-4 cursor-pointer truncate">{{user.name}}</h2>
            <p class="p-0 m-0 font-size-12 text-muted">{{user.birthDate | date}}</p>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions fxLayout="row" class="pl-8 pr-8">
            <div fxFlex="50">
              <div class="user-delete">
                <button mat-icon-button color="warn">
                  <mat-icon aria-label="Share">delete_sweep</mat-icon>
                </button>
              </div>
            </div>
            <div fxFlex="50" class="text-right">
              <button mat-icon-button color="primary">
                <mat-icon aria-label="Share">favorite_border</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <p class="font-size-14 p-0 m-0 pl-16 mb-16 secondary-text font-weight-600">Card Design with avatar</p>
    <div fxLayout.gt-sm="row wrap" fxLayout.sm="row wrap" fxLayout="column" class="mb-16">
      <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="25%" *ngFor="let user of users">
        <mat-card class="card-two card cursor-pointer">
          <mat-card-content>
            <div class="contact-wrapper">
              <div class="contact-avatar avatar">
                <img src="assets/images/user-img.png" alt="">
              </div>
              <div class="card-description contact-description">
                <h2 class="p-0 m-0 font-size-14 mb-4 truncate">{{user.name}}</h2>
                <p class="p-0 m-0 font-size-12 text-muted">{{user.birthDate | date}}</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <p class="font-size-14 p-0 m-0 pl-16 mb-16 secondary-text font-weight-600">Card Design with image</p>
    <div fxLayout.gt-sm="row wrap" fxLayout.sm="row wrap" fxLayout="column" class="mb-16">
      <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="25%" *ngFor="let user of users">
        <mat-card class="card-three card">
          <img mat-card-image src="assets/images/card3-image.jpeg" alt="">
          <mat-card-content>
            <p class="font-size-14 secondary-text">
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
              very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
            <span></span>
            <div>
              <button mat-icon-button color="primary">
                <mat-icon aria-label="Like">favorite</mat-icon>
              </button>
              <button mat-icon-button color="primary">
                <mat-icon aria-label="Share">share</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <p class="font-size-14 p-0 m-0 pl-16 mb-16 secondary-text font-weight-600">Card Design with large avatar</p>
    <div fxLayout.gt-sm="row wrap" fxLayout.sm="row wrap" fxLayout="column" class="mb-16">
      <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="25%" *ngFor="let user of users">
        <div class="card-four card white-bg cursor-pointer mat-elevation-z2 p-16 m-16">
          <div class="contact-avatar-two avatar-lg">
            <img src="assets/images/user-img.png" alt="">
          </div>
          <div class="card-description contact-description-two">
            <h2 class="p-0 m-0 font-size-14 mb-4 truncate">{{user.name}}</h2>
            <p class="p-0 m-0 font-size-12 text-muted">{{user.birthDate | date}}</p>
          </div>
        </div>
      </div>
    </div>
    <p class="font-size-14 p-0 m-0 pl-16 mb-16 secondary-text font-weight-600">Card Design with icon</p>
    <div fxLayout.gt-sm="row wrap" fxLayout.sm="row wrap" fxLayout="column" class="mb-16">
      <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="25%">
        <div class="card-five card white-bg cursor-pointer text-center mat-elevation-z2 p-24 m-16">
          <div class="card-icon card-icon-one">
            <mat-icon>settings</mat-icon>
          </div>
          <div class="card-description contact-description-three">
            <h2 class="p-0 m-0 font-size-16 mb-4 truncate">Web Development</h2>
            <p class="p-0 m-0 font-size-14 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
    <p class="font-size-14 p-0 m-0 pl-16 mb-16 secondary-text font-weight-600">Card Design with icon</p>
    <div fxLayout.gt-sm="row wrap" fxLayout.sm="row wrap" fxLayout="column" class="mb-16">
      <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="25%">
        <div class="card-six card white-bg cursor-pointer text-center mat-elevation-z2 p-24 m-16">
          <div class="card-icon mb-16">
            <mat-icon>settings</mat-icon>
          </div>
          <div class="card-description contact-description-four">
            <h2 class="p-0 m-0 font-size-16 mb-4 truncate">Web Development</h2>
            <p class="p-0 m-0 font-size-14 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
    <p class="font-size-14 p-0 m-0 pl-16 mb-16 secondary-text font-weight-600">Card Design with icon left side</p>
    <div fxLayout.gt-sm="row wrap" fxLayout.sm="row wrap" fxLayout="column" class="mb-16">
      <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="25%">
        <div fxLayout="row" class="card-seven card white-bg cursor-pointer mat-elevation-z2 p-24 m-16">
          <div class="card-icon mb-16">
            <mat-icon>settings</mat-icon>
          </div>
          <div class="card-description">
            <h2 class="p-0 m-0 font-size-16 mb-4 truncate">Web Development</h2>
            <p class="p-0 m-0 font-size-14 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
    <p class="font-size-14 p-0 m-0 pl-16 mb-16 secondary-text font-weight-600">Card Design icon left side with background</p>
    <div fxLayout.gt-sm="row wrap" fxLayout.sm="row wrap" fxLayout="column" class="mb-16">
      <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="25%">
        <div fxLayout="row" class="card-eight card white-bg cursor-pointer mat-elevation-z2 p-24 m-16">
          <div class="card-icon">
            <mat-icon>settings</mat-icon>
          </div>
          <div class="card-description">
            <h2 class="p-0 m-0 font-size-16 mb-4 truncate">Web Development</h2>
            <p class="p-0 m-0 font-size-14 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
    <p class="font-size-14 p-0 m-0 pl-16 mb-16 secondary-text font-weight-600">Card Design icon left side</p>
    <div fxLayout.gt-sm="row wrap" fxLayout.sm="row wrap" fxLayout="column" class="mb-16">
      <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="25%">
        <div fxLayout="row" class="card-nine card white-bg cursor-pointer mat-elevation-z2 p-24 m-16">
          <div class="card-icon">
            <mat-icon>settings</mat-icon>
          </div>
          <div class="card-description">
            <h2 class="p-0 m-0 font-size-16 mb-4 truncate">Web Development</h2>
            <p class="p-0 m-0 font-size-14 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
    <p class="font-size-14 p-0 m-0 pl-16 mb-16 secondary-text font-weight-600">Card Design icon left side</p>
    <div fxLayout.gt-sm="row wrap" fxLayout.sm="row wrap" fxLayout="column" class="mb-16">
      <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="25%">
        <div class="card-ten text-center card white-bg cursor-pointer mat-elevation-z2 p-24 m-16">
          <div class="card-icon mb-16">
            <mat-icon>settings</mat-icon>
          </div>
          <div class="card-description">
            <h2 class="p-0 m-0 font-size-16 mb-4 truncate">Web Development</h2>
            <p class="p-0 m-0 font-size-14 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
</div>