<p class="font-size-16 p-0 m-0 pl-16 mb-16 secondary-text">Custom hover action design</p>

<div class="mb-32">
  <div fxFlex="100%">
    <mat-card class="card hover-element-wrapper">
      <div fxLayout.gt-lg="row" fxLayout="column" fxLayoutGap="16px">
        <div class="mb-32" fxFlex="50%">
          <p class="font-size-14 p-0 m-0 pl-16 mb-24 secondary-text font-weight-700">Hover effect (translate)</p>
          <div fxLayout.gt-sm="row" fxLayout="column" class="mb-32">
            <div class="single-hover-element s-h-d mat-elevation-z2">
              <img src="assets/images/card3-image.jpeg" alt="">
            </div>
            <div class="single-hover-element s-h-d2 mat-elevation-z2">
              <img src="assets/images/card3-image.jpeg" alt="">
            </div>
          </div>
        </div>
        <div class="mb-32" fxFlex="50%">
          <p class="font-size-14 p-0 m-0 pl-16 mb-24 secondary-text font-weight-700">Hover effect (image zoom)</p>
          <div fxLayout.gt-sm="row" fxLayout="column">
            <div class="single-hover-element h-img-zoom mat-elevation-z2">
              <img src="assets/images/card3-image.jpeg" alt="">
            </div>
            <div class="single-hover-element h-img-zoom-2 mat-elevation-z2">
              <img src="assets/images/card3-image.jpeg" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="mb-32">
        <p class="font-size-14 p-0 m-0 pl-16 mb-24 secondary-text font-weight-700">Hover effect (icon)</p>
        <div fxLayout.gt-sm="row wrap" fxLayout.sm="row wrap" fxLayout="column" class="mb-32">
          <div class="single-h-icon hover-icon-style-1 p-24 text-center mat-elevation-z2" fxLayout="column" fxFlex="100%"
            fxFlex.sm="50%" fxFlex.gt-sm="25%">
            <div class="h-icon mb-16">
              <mat-icon class="primary-text">favorite</mat-icon>
            </div>
            <div class="h-desc">
              <h4 class="p-0 m-0 mb-16 font-size-16">Web Development</h4>
              <p class="p-0 m-0 font-size-14">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, nobis!</p>
            </div>
          </div>
          <div class="single-h-icon hover-icon-style-2 p-24 text-center mat-elevation-z2" fxLayout="column" fxFlex="100%"
            fxFlex.sm="50%" fxFlex.gt-sm="25%">
            <div class="h-icon mb-16">
              <mat-icon class="info-text">favorite</mat-icon>
            </div>
            <div class="h-desc">
              <h4 class="p-0 m-0 mb-16 font-size-16">Responsive Design</h4>
              <p class="p-0 m-0 font-size-14">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, nobis!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-32">
        <p class="font-size-14 p-0 m-0 pl-16 mb-24 secondary-text font-weight-700">Hover effect (button)</p>
        <div fxLayout.gt-sm="row wrap" fxLayout.sm="row wrap" fxLayout="column" class="mb-32">
          <div class="single-h-opacity m-16 text-center mat-elevation-z2" fxLayout="column" fxFlex="100%"
            fxFlex.sm="50%" fxFlex.gt-sm="25%">
            <div class="h-opacity-desc">
              <img src="assets/images/card3-image.jpeg" alt="">
              <div class="h-opacity-btn read-more">
                <a href="#">Read More</a>
              </div>
            </div>
          </div>
          <div class="single-h-opacity-2 m-16 text-center mat-elevation-z2" fxLayout="column" fxFlex="100%"
            fxFlex.sm="50%" fxFlex.gt-sm="25%">
            <div class="h-opacity-desc">
              <img src="assets/images/card3-image.jpeg" alt="">
              <div class="h-opacity-btn-2 read-more">
                <a href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
