<div class="contact-details">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-32">
        <div class="page-title">
            <h1 class="font-size-20 line-height-20 font-weight-400 mb-4">Contact Details</h1>
            <div class="breadcrumb">
                <ul>
                    <li><a class="secondary-text" href="">Home</a></li>
                    <li><a class="active" href="">Contact-details</a></li>
                </ul>
            </div>
        </div>
        <div>
            <button mat-raised-button color="primary">Add Contact</button>
        </div>
    </div>

    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="32px">
        <div fxFlex.gt-sm="25%" fxFlex>
            <div class="user-profile text-center bg-accent-A100 p-24 mb-32" fxLayout="column"
                fxLayoutAlign="center center">
                <div class="user-img mb-16">
                    <img _ngcontent-gks-c295="" src="assets/images/Velazquez.jpg" alt="" class="avatar-img">
                </div>
                <p class="text-color font-size-18 muli-semibold mb-8">Hanna gover</p>
                <p class="font-size-14 text-color line-height-18">Lorem, ipsum dolor sit amet consectetur adipisicing
                    elit. Unde mollitia consequuntur aliquid natus
                    commodi dolorem impedit nulla reiciendis quia voluptates!</p>
            </div>
            <div class="card bg-accent-A100">
                <div class="mb-32">
                    <p class="font-size-14 mb-4 hint-text line-height-14">Email address</p>
                    <p class="font-size-18 text-color line-height-18">hannagover@gmail.com</p>
                </div>
                <div class="mb-32">
                    <p class="font-size-14 mb-4 hint-text line-height-14">Phone</p>
                    <p class="font-size-18 text-color line-height-18">+91 654 784 547</p>
                </div>
                <div class="mb-32">
                    <p class="font-size-14 mb-4 hint-text line-height-14">Address</p>
                    <p class="font-size-18 text-color line-height-22">Dhaka, Bangladesh</p>
                </div>
                <div class="h-270 mb-32">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116834.0097778199!2d90.34928576871454!3d23.780777744581084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8b087026b81%3A0x8fa563bbdd5904c2!2sDhaka!5e0!3m2!1sen!2sbd!4v1591018427986!5m2!1sen!2sbd"
                        width="100%" height="270" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="social-link">
                    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
                        <button class="facebook" mat-icon-button color="primary" aria-label="Google">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </button>
                        <button class="google" mat-icon-button color="primary" aria-label="Facebook">
                            <i class="fa fa-google" aria-hidden="true"></i>
                        </button>
                        <button class="linkedin" mat-icon-button color="primary" aria-label="LinkedIn">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex.gt-sm="75%" fxFlex>
            <div class="timeline bg-accent-A100">
                <mat-tab-group dynamicHeight animationDuration="500ms">
                    <mat-tab label="Timeline">
                        <div class="card">
                            <div class="timeline-list">
                                <ul>
                                    <li>
                                        <div fxLayout="row" fxLayoutAlign="start start">
                                            <div class="timeline-user mr-24">
                                                <img src="../../../../assets/images/profile.jpg" alt="Profile image">
                                            </div>
                                            <div class="timeline-description">
                                                <p class="text-color muli-semibold">Meeting Today <span
                                                        class="font-size-14 ml-16 hint-text">5pm</span></p>
                                                <p class="muli-light">you can write anything</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div fxLayout="row" fxLayoutAlign="start start">
                                            <div class="timeline-user mr-24">
                                                <img src="../../../../assets/images/profile.jpg" alt="Profile image">
                                            </div>
                                            <div class="timeline-description">
                                                <p class="text-color muli-semibold">Meeting Today <span
                                                        class="font-size-14 ml-16 hint-text">5pm</span></p>
                                                <p class="muli-light">you can write anything</p>
                                                <div class="mt-24 timeline-image ml-m-16 mr-m-16" fxLayout="row wrap">
                                                    <div class="single-timeline-img" fxFlex="25%" fxFlex.sm="50%">
                                                        <img src="../../../../assets/images/technology.jpg"
                                                            alt="timeline image">
                                                    </div>
                                                    <div class="single-timeline-img" fxFlex="25%" fxFlex.sm="50%">
                                                        <img src="../../../../assets/images/technology (1).jpg"
                                                            alt="timeline image">
                                                    </div>
                                                    <div class="single-timeline-img" fxFlex="25%" fxFlex.sm="50%">
                                                        <img src="../../../../assets/images/technology (3).jpg"
                                                            alt="timeline image">
                                                    </div>
                                                    <div class="single-timeline-img" fxFlex="25%" fxFlex.sm="50%">
                                                        <img src="../../../../assets/images/technology.jpg"
                                                            alt="timeline image">
                                                    </div>
                                                    <div class="single-timeline-img" fxFlex="25%" fxFlex.sm="50%">
                                                        <img src="../../../../assets/images/technology (2).jpg"
                                                            alt="timeline image">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div fxLayout="row" fxLayoutAlign="start start">
                                            <div class="timeline-user mr-24">
                                                <img src="../../../../assets/images/profile.jpg" alt="Profile image">
                                            </div>
                                            <div class="timeline-description">
                                                <p class="text-color muli-semibold">John Deo <span
                                                        class="font-size-14 ml-16 hint-text">5pm</span></p>
                                                <p class="muli-light mb-16">Approve meeting with tiger</p>
                                                <p class="muli-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio veniam nemo sunt deserunt earum veritatis alias quo cupiditate laborum voluptatem.</p>

                                                <div fxLayout="row" fxLayoutGap="16px" class="mt-24">
                                                    <button mat-flat-button color="primary">Primary</button>
                                                    <button mat-flat-button color="warn">Warn</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Profile">
                        <div class="card border-accent-300 border-bottom-1px-solid">
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="32px">
                                <div class="border-right-2px-dashed border-accent-300" fxFlex.gt-sm="25%" fxFlex>
                                    <p class="text-color">Full Name</p>
                                    <p class="hint-text">Hanna gover Sanchacz</p>
                                </div>
                                <div class="border-right-2px-dashed border-accent-300" fxFlex.gt-sm="25%" fxFlex>
                                    <p class="text-color">Mobile</p>
                                    <p class="hint-text">(123) 456 7890</p>
                                </div>
                                <div class="border-right-2px-dashed border-accent-300" fxFlex.gt-sm="25%" fxFlex>
                                    <p class="text-color">Email</p>
                                    <p class="hint-text">johnathan@admin.com</p>
                                </div>
                                <div fxFlex.gt-sm="25%" fxFlex>
                                    <p class="text-color">Location</p>
                                    <p class="hint-text">London</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <p class="mb-24 text-color">Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                                arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                                felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper
                                nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat
                                vitae, eleifend ac, enim.</p>
                            <p class="mb-24 text-color">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book. It has survived not only five centuries</p>
                            <p class="text-color">It was popularised in the 1960s with the release of Letraset sheets
                                containing Lorem Ipsum passages, and more recently with desktop publishing software like
                                Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        <div class="card">
                            <p class="font-size-18 line-height-18 muli-semibold mb-24">Skill Set</p>

                            <div class="skil-set ml-m-16 mr-m-16" fxLayout="row wrap">
                                <div class="single-skill text-center " fxFlex="25%" fxFlex.sm="50%">
                                    <div class="bg-accent-300 card mb-4">
                                        <div class="skill-logo">
                                            <img src="../../../../assets/images/html.png" alt="timeline image">
                                        </div>
                                        <p class="font-size-14 muli-semibold">HTML</p>
                                    </div>
                                    <mat-progress-bar color="primary" mode="determinate" value="90"></mat-progress-bar>
                                </div>
                                <div class="single-skill text-center " fxFlex="25%" fxFlex.sm="50%">
                                    <div class="bg-accent-300 card mb-4">
                                        <div class="skill-logo">
                                            <img src="../../../../assets/images/css3.png" alt="timeline image">
                                        </div>
                                        <p class="font-size-14 muli-semibold">CSS</p>
                                    </div>
                                    <mat-progress-bar color="primary" mode="determinate" value="95"></mat-progress-bar>
                                </div>
                                <div class="single-skill text-center " fxFlex="25%" fxFlex.sm="50%">
                                    <div class="bg-accent-300 card mb-4">
                                        <div class="skill-logo">
                                            <img src="../../../../assets/images/javascript.png" alt="timeline image">
                                        </div>
                                        <p class="font-size-14 muli-semibold">JavaScript</p>
                                    </div>
                                    <mat-progress-bar color="primary" mode="determinate" value="80"></mat-progress-bar>
                                </div>
                                <div class="single-skill text-center " fxFlex="25%" fxFlex.sm="50%">
                                    <div class="bg-accent-300 card mb-4">
                                        <div class="skill-logo">
                                            <img src="../../../../assets/images/angular-material.png"
                                                alt="timeline image">
                                        </div>
                                        <p class="font-size-14 muli-semibold">AngularMaterial</p>
                                    </div>
                                    <mat-progress-bar color="primary" mode="determinate" value="95"></mat-progress-bar>
                                </div>
                                <div class="single-skill text-center " fxFlex="25%" fxFlex.sm="50%">
                                    <div class="bg-accent-300 card mb-4">
                                        <div class="skill-logo">
                                            <img src="../../../../assets/images/angular.png" alt="timeline image">
                                        </div>
                                        <p class="font-size-14 muli-semibold">Angular</p>
                                    </div>
                                    <mat-progress-bar color="primary" mode="determinate" value="70"></mat-progress-bar>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Profile Update">
                        <div class="card">
                            <form action="">
                                <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="32px" ngClass.gt-sm="mb-32">
                                    <div fxFlex.gt-sm="50%" fxFlex>
                                        <mat-form-field class="w-100-p">
                                            <mat-label>Full Name</mat-label>
                                            <input matInput placeholder="Name">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex.gt-sm="50%" fxFlex>
                                        <mat-form-field class="w-100-p">
                                            <mat-label>Email</mat-label>
                                            <input matInput placeholder="Email">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="32px" ngClass.gt-sm="mb-32">
                                    <div fxFlex.gt-sm="50%" fxFlex>
                                        <mat-form-field class="w-100-p">
                                            <mat-label>Password</mat-label>
                                            <input matInput type="password" placeholder="Password">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex.gt-sm="50%" fxFlex>
                                        <mat-form-field class="w-100-p">
                                            <mat-label>Confirm Password</mat-label>
                                            <input matInput placeholder="Confirm Password">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div ngClass.gt-sm="mb-32">
                                    <mat-form-field class="w-100-p">
                                        <mat-label>Message</mat-label>
                                        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                                    </mat-form-field>
                                </div>
                                <div ngClass.gt-sm="mb-32">
                                    <mat-form-field class="w-100-p">
                                        <mat-label>Address</mat-label>
                                        <textarea matInput placeholder="Ex. Dhaka"></textarea>
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <button mat-button>Cancel</button>
                                    <button mat-raised-button color="primary">Update</button>
                                </div>
                            </form>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>