<ngu-carousel style="width: 100%;" [inputs]="carouselOne">
  <ngu-item NguCarouselItem>
    <div fxFlex="100">
      <mat-card>
        <h1>1</h1>
      </mat-card>
    </div>
  </ngu-item>
  <ngu-item NguCarouselItem>
    <div fxFlex="100">
      <mat-card>
        <h1>21</h1>
      </mat-card>
    </div>
  </ngu-item>
  <ngu-item NguCarouselItem>
    <div fxFlex="100">
      <mat-card>
        <h1>sds1</h1>
      </mat-card>
    </div>
  </ngu-item>
  <ngu-item NguCarouselItem>
    <div fxFlex="100">
      <mat-card>
        <h1>sdf1</h1>
      </mat-card>
    </div>
  </ngu-item>
  <button NguCarouselPrev mat-fab mat-accent class='leftRs'>&lt;</button>
  <button NguCarouselNext mat-fab mat-accent class='rightRs'>&gt;</button>
</ngu-carousel>
