:host{
    .login-page-area{
        background-image: url(../../../../assets/images/login-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 750px;
        display: inline-table;
    }
    .google-btn{
        background-color: #d73d32;
        color: #fff;
    }
    .facebook-btn{
        background-color: #3f5c9a;
        color: #fff;
    }
}