<div class="mb-32">
  <p class="font-size-16 p-0 m-0 pl-16 mb-16 secondary-text">Different Pricing Table Design</p>
  <div class="pricing-table-wrapper mb-32">
    <div fxLayout.gt-sm="row wrap" fxLayout.sm="row wrap" fxLayout="column" class="mb-32">
      <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="25%">
        <div class="single-pricing-table pt-design-one mat-elevation-z2">
          <div class="pricing-header text-center">
            <div class="bg-gray-500 pt-8 pb-8">
              <p class="p-0 m-0 font-size-16"> Free </p>
            </div>
            <div class="bg-gray-400 pt-40 pb-40">
              <div class="p-icon">
                <mat-icon class="font-size-48 mb-16" aria-label="Pricing Icon">directions_run</mat-icon>
              </div>
              <div class="p-rate">
                <p class="p-0 m-0">
                  <sup class="font-size-16">$</sup>
                  <span class="font-size-36">0</span>
                  <sub class="font-size-16">/Month</sub>
                </p>
              </div>
            </div>
          </div>
          <div class="pricing-body pt-32 pb-32">
            <ul>
              <li>Disk usage 11 GB</li>
              <li>Subdomains Limit 10</li>
              <li>Bandwith usage limit 1 TB</li>
            </ul>
          </div>
          <div class="pricing-footer p-16 border-top-1 text-center">
            <button mat-raised-button color="accent">Sign up</button>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="25%">
        <div class="single-pricing-table pt-design-one mat-elevation-z2">
          <div class="pricing-header text-center">
            <div class="bg-teal-500 pt-8 pb-8">
              <p class="p-0 m-0 font-size-16"> Starter </p>
            </div>
            <div class="bg-teal-400 pt-40 pb-40">
              <div class="p-icon">
                <mat-icon class="font-size-48 mb-16 white-text" aria-label="Pricing Icon">directions_car</mat-icon>
              </div>
              <div class="p-rate">
                <p class="p-0 m-0  white-text">
                  <sup class="font-size-16">$</sup>
                  <span class="font-size-36">9</span>
                  <sub class="font-size-16">/Month</sub>
                </p>
              </div>
            </div>
          </div>
          <div class="pricing-body pt-32 pb-32">
            <ul>
              <li>Disk usage 21 GB</li>
              <li>Subdomains Limit 21</li>
              <li>Bandwith usage limit 10 TB</li>
            </ul>
          </div>
          <div class="pricing-footer teal-footer p-16 border-top-1 text-center">
            <button mat-raised-button color="primary">Sign up</button>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="25%">
        <div class="single-pricing-table pt-design-one mat-elevation-z2">
          <div class="pricing-header text-center">
            <div class="bg-lime-500 pt-8 pb-8">
              <p class="p-0 m-0 font-size-16 white-text"> Premium </p>
            </div>
            <div class="bg-lime-400 pt-40 pb-40">
              <div class="p-icon">
                <mat-icon class="font-size-48 mb-16 white-text" aria-label="Pricing Icon">directions_railway</mat-icon>
              </div>
              <div class="p-rate">
                <p class="p-0 m-0  white-text">
                  <sup class="font-size-16">$</sup>
                  <span class="font-size-36">24</span>
                  <sub class="font-size-16">/Month</sub>
                </p>
              </div>
            </div>
          </div>
          <div class="pricing-body pt-32 pb-32">
            <ul>
              <li>Disk usage 60 GB</li>
              <li>Subdomains Limit 50</li>
              <li>Bandwith usage limit 25 TB</li>
            </ul>
          </div>
          <div class="pricing-footer lime-footer p-16 border-top-1 text-center">
            <button mat-raised-button color="primary">Sign up</button>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="25%">
        <div class="single-pricing-table pt-design-one mat-elevation-z2">
          <div class="pricing-header text-center">
            <div class="bg-green-500 pt-8 pb-8">
              <p class="p-0 m-0 font-size-16 white-text"> Gold </p>
            </div>
            <div class="bg-green-400 pt-40 pb-40">
              <div class="p-icon">
                <mat-icon class="font-size-48 mb-16 white-text" aria-label="Pricing Icon">flight</mat-icon>
              </div>
              <div class="p-rate">
                <p class="p-0 m-0  white-text">
                  <sup class="font-size-16">$</sup>
                  <span class="font-size-36">39</span>
                  <sub class="font-size-16">/Month</sub>
                </p>
              </div>
            </div>
          </div>
          <div class="pricing-body pt-32 pb-32">
            <ul>
              <li>Unlimited Disk usage</li>
              <li>Unlimited Subdomains</li>
              <li>Unlimited Bandwith</li>
            </ul>
          </div>
          <div class="pricing-footer green-footer p-16 border-top-1 text-center">
            <button mat-raised-button color="primary">Sign up</button>
          </div>
        </div>
      </div>
    </div>
    <p class="p-0 m-0 font-size-14 pl-16 mb-16 font-weight-600">Simple Pricing Table</p>
    <div fxLayout.gt-sm="row wrap" fxLayout.sm="row wrap" fxLayout="column" class="mb-32">
      <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="33%">
        <div class="single-pricing-table pt-design-two mat-elevation-z2">
          <div class="pt-header pt-40 mb-16 text-center  pl-32 pr-32">
            <p class="m-0 p-0 font-size-24 primary-text text-uppercase">Starter</p>
          </div>
          <div class="pt-body pb-32 text-center pl-32 pr-32">
            <p class="p-0 m-0 font-size-14 mb-32 text-muted">Perfect solution for startup project. Lorem ipsum, dolor
              sit amet consectetur adipisicing elit.</p>
            <p class="p-0 m-0 font-size-48 mb-4">$8</p>
            <p class="p-0 m-0 font-size-14 text-muted text-uppercase">per user/month</p>
          </div>
          <div class="pt-footer pb-40 text-center pl-32 pr-32">
            <button color="accent">Free Trail</button>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="33%">
        <div class="single-pricing-table pt-design-two mat-elevation-z2">
          <div class="pt-header pt-40 mb-16 text-center  pl-32 pr-32">
            <p class="m-0 p-0 font-size-24 info-text text-uppercase">Professional</p>
          </div>
          <div class="pt-body pb-32 text-center pl-32 pr-32">
            <p class="p-0 m-0 font-size-14 mb-32 text-muted">Perfect solution for startup project. Lorem ipsum, dolor
              sit amet consectetur adipisicing elit.</p>
            <p class="p-0 m-0 font-size-48 mb-4">$16</p>
            <p class="p-0 m-0 font-size-14 text-muted text-uppercase">per user/month</p>
          </div>
          <div class="pt-footer pb-40 text-center pl-32 pr-32">
            <button color="accent">Free Trail</button>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="33%">
        <div class="single-pricing-table pt-design-two mat-elevation-z2">
          <div class="pt-header pt-40 mb-16 text-center  pl-32 pr-32">
            <p class="m-0 p-0 font-size-24 success-text text-uppercase">Advanced</p>
          </div>
          <div class="pt-body pb-32 text-center pl-32 pr-32">
            <p class="p-0 m-0 font-size-14 mb-32 text-muted">Perfect solution for startup project. Lorem ipsum, dolor
              sit amet consectetur adipisicing elit.</p>
            <p class="p-0 m-0 font-size-48 mb-4">$32</p>
            <p class="p-0 m-0 font-size-14 text-muted text-uppercase">per user/month</p>
          </div>
          <div class="pt-footer pb-40 text-center pl-32 pr-32">
            <button color="accent">Free Trail</button>
          </div>
        </div>
      </div>
    </div>
    <p class="p-0 m-0 font-size-14 pl-16 mb-16 font-weight-600">Pricing Table with icon design</p>
    <div fxLayout.gt-sm="row wrap" fxLayout.sm="row wrap" fxLayout="column" class="mb-32">
      <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="25%">
        <div class="single-pricing-table pt-design-three mat-elevation-z2">
          <div class="pricing-header text-center">
            <div class="pt-40 pb-40">
              <div class="p-icon p-c-one">
                <mat-icon class="font-size-48 mb-16" aria-label="Pricing Icon">local_shipping</mat-icon>
              </div>
            </div>
          </div>
          <div class="pricing-body text-center pb-32">
            <ul>
              <li>Disk usage 11 GB</li>
              <li>Subdomains Limit 10</li>
              <li>Bandwith usage limit 1 TB</li>
            </ul>
          </div>
          <div class="pricing-footer pl-16 pr-16 pt-0 pb-32 text-center">
            <div class="p-rate">
              <p class="p-0 m-0 font-size-16 font-weight-700">0$ per Month</p>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="25%">
        <div class="single-pricing-table pt-design-three mat-elevation-z2">
          <div class="pricing-header text-center">
            <div class="pt-40 pb-40">
              <div class="p-icon p-c-two">
                <mat-icon class="font-size-48 mb-16" aria-label="Pricing Icon">tram</mat-icon>
              </div>
            </div>
          </div>
          <div class="pricing-body text-center pb-32">
            <ul>
              <li>Disk usage 11 GB</li>
              <li>Subdomains Limit 10</li>
              <li>Bandwith usage limit 1 TB</li>
            </ul>
          </div>
          <div class="pricing-footer pl-16 pr-16 pt-0 pb-32 text-center">
            <div class="p-rate">
              <p class="p-0 m-0 font-size-16 font-weight-700">0$ per Month</p>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="25%">
        <div class="single-pricing-table pt-design-three mat-elevation-z2">
          <div class="pricing-header text-center">
            <div class="pt-40 pb-40">
              <div class="p-icon p-c-three">
                <mat-icon class="font-size-48 mb-16" aria-label="Pricing Icon">train</mat-icon>
              </div>
            </div>
          </div>
          <div class="pricing-body text-center pb-32">
            <ul>
              <li>Disk usage 11 GB</li>
              <li>Subdomains Limit 10</li>
              <li>Bandwith usage limit 1 TB</li>
            </ul>
          </div>
          <div class="pricing-footer pl-16 pr-16 pt-0 pb-32 text-center">
            <div class="p-rate">
              <p class="p-0 m-0 font-size-16 font-weight-700">0$ per Month</p>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="100%" fxFlex.sm="50%" fxFlex.gt-sm="25%">
        <div class="single-pricing-table pt-design-three mat-elevation-z2">
          <div class="pricing-header text-center">
            <div class="pt-40 pb-40">
              <div class="p-icon p-c-four">
                <mat-icon class="font-size-48 mb-16" aria-label="Pricing Icon">flight</mat-icon>
              </div>
            </div>
          </div>
          <div class="pricing-body text-center pb-32">
            <ul>
              <li>Disk usage 11 GB</li>
              <li>Subdomains Limit 10</li>
              <li>Bandwith usage limit 1 TB</li>
            </ul>
          </div>
          <div class="pricing-footer pl-16 pr-16 pt-0 pb-32 text-center">
            <div class="p-rate">
              <p class="p-0 m-0 font-size-16 font-weight-700">0$ per Month</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
